@keyframes cc{
    0%{background-color:yellow;border-radius:0%;}
    10%{background-color:blue;border-radius:10%}
    20%{background-color:green;border-radius:20%}
    30%{background-color:purple;border-radius:30%}
    40%{background-color:brown;border-radius:40%}
    50%{background-color:yellow;border-radius:50%}
    60%{background-color:yellow;border-radius:40%}
    70%{background-color:yellow;border-radius:30%}
    80%{background-color:yellow;border-radius:20%}
    90%{background-color:yellow;border-radius:10%}
    100%{background-color:yellow;border-radius:0%}
}
#animate{
    width:200px;
    height:200px;
    animation-name: cc;
    animation-duration: 5s;
}
